body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

  .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }

.list-unstyled {
  padding-left: 0;
  list-style: none;
}